# Keep tracking these pristine or isolated dependencies via vcstool/forks
sando_ws/src/
mighty_ws/src/
decomp_ws/src/
roman/
zenoh_ws/src/
Livox-SDK2/
dynus_ws/src/
roman_ws/src/
mavros_ws/src/

# Ignore standard ROS compilation clutter
build/
install/
log/
.catkin_workspace

# System noise
.DS_Store
.vscode/
